.nav-container {
  display: flex;
  flex-direction: column;
  color: #454545;
  font: 400 32px Open Sans, sans-serif;
}

.nav-wrapper {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 18px 70px;
}

.nav-menu {
  display: flex;
  width: 1230px;
  max-width: 100%;
  gap: 40px 55px;
  flex-wrap: wrap;
}

.nav-item {
  flex-grow: 1;
}

.nav-item-active {
  color: #fed233;
  font-weight: 600;
}

@media (max-width: 991px) {
  .nav-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}
