<app-header></app-header>

<style>
  .contact-section {
    background-color: #111010;
    display: flex;
    padding-bottom: 300px;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    align-self: center;
  }

  .main-content {
    align-self: center;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
    padding: 0 100px;
  }

  .contact-info {
    background-color: #fed233;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    align-items: start;
    color: #454545;
    margin: auto;
    padding: 50px 30px;
    font: 600 24px 'Open Sans', sans-serif;
  }

  .contact-title {
    text-align: center;
    font: italic 700 36px 'Roboto', sans-serif;
  }

  .call-us {
    color: #5a5a5a;
    font-size: 20px;
    text-align: center;
  }

  .phone-icon {
    width: 40px;
    margin-right: auto;
  }

  .phone-number {
    font-size: 18px;
    margin: auto 0;
  }

  .business-hours {
    color: #5a5a5a;
    text-align: left;
    align-self: start;
    font-size: 18px;
  }

  .social-icons {
    width: 200px;
    align-self: center;
    margin-top: 40px;
    max-width: 100%;
  }

  .contact-form-container {
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    color: #454545;
    padding: 30px 40px;
    font: 600 24px 'Open Sans', sans-serif;
  }

  .contact-formm {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .form-title {
    font: italic 700 36px 'Roboto', sans-serif;
  }

  .form-label {
    text-align: start;
    align-self: start;
    margin-top: 20px;
    font-size: 16px;
  }

  .form-input {
    display: flex;
    margin-top: 10px;
    height: 50px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #454545;
  }

  .form-textarea {
    display: flex;
    margin-top: 10px;
    height: 100px;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #454545;
  }

  .submit-button {
    background-color: #454545;
    align-self: start;
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
    padding: 8px 24px;
  }

  @media (max-width: 991px) {

    .contact-container {
      flex-direction: column;
    }

    .contact-section {
      padding-bottom: 100px;
    }

    .main-content {
      max-width: 100%;
      margin-top: 20px;
    }

    .contact-info,
    .contact-form-container {
      padding: 30px 20px;
    }

    .contact-title,
    .form-title {
      font-size: 28px;
    }

    .call-us,
    .business-hours,
    .social-icons,
    .submit-button {
      margin-top: 20px;
    }

    .form-input,
    .form-textarea {
      max-width: 100%;
      font-size: 14px;
    }
  }
</style>

<section class="contact-section">
  <main class="main-content">
    <div class="contact-container d-flex flex-lg-row flex-md-column flex-sm-column">
      <section class="contact-info col-lg-7 col-md-10 col-sm-10">
        <h1 class="contact-title">Contact Us</h1>
        <h2 class="call-us mb-0">Give us a call</h2>
        <div class="d-flex gap-2">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/75851159805bddb0e0ba635471363c507f2cd82bd56dba7ccf155cedfe9dc5ec?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Phone Icon" class="phone-icon" />
          <p class="phone-number">+91- 9876425797</p>
        </div>
        <p class="call-us">Monday- Sunday 09:00 – 21:00 IST</p>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bfa954d7b1fe377b1cdbe901a97fdeb11863ef2bdf9e2871db80f918f6de90f4?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Social Media Icons" class="social-icons" />
      </section>
      <section class="contact-form-container col-11">
        <form class="contact-formm">
          <h2 class="form-title">Get In Touch</h2>
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-input" required />

          <label for="phone" class="form-label">Phone Number</label>
          <input type="tel" id="phone" name="phone" class="form-input" required />

          <label for="email" class="form-label">Email Id</label>
          <input type="email" id="email" name="email" class="form-input" required />

          <label for="message" class="form-label">Message</label>
          <textarea id="message" name="message" class="form-textarea" required></textarea>

          <button type="submit" class="submit-button">Submit</button>
        </form>
      </section>
    </div>


  </main>
</section>
<app-footer></app-footer>

