<mat-grid-list cols="3" rowHeight="fit" gutterSize="20px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-title>Total Calories Burned</mat-card-title>
      <mat-card-content style="background-color: aliceblue;">
        <p>{{ statsData.totalCaloriesBurnes }}cal</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-title>Total Distance Covered</mat-card-title>
      <mat-card-content style="background-color: aliceblue;">
        <p>{{ statsData.distance | number: '1.1-1' }} km</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-title>Total Steps Taken</mat-card-title>
      <mat-card-content style="background-color: aliceblue;">
        <p>{{ statsData.steps }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="fit" gutterSize="20px" style="margin-top: 20px;">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-title>Total Time Spent</mat-card-title>
      <mat-card-content style="background-color: aliceblue;">
        <p>{{ statsData.duration }} min</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-title>Achieved Goals</mat-card-title>
      <mat-card-content style="background-color: aliceblue;">
        <p>{{ statsData.achievedGoals }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card>
      <mat-card-title>Not Achieved Goals</mat-card-title>
      <mat-card-content style="background-color: aliceblue;">
        <p>{{ statsData.notAchievedGoals }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
