<style>
  .blogs-section {
    background-color: #242424;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 143px 54px 322px;
  }

  @media (max-width: 991px) {
    .blogs-section {
      max-width: 100%;
      padding: 100px 20px;
    }
  }

  .section-title {
    color: #fed233;
    text-align: center;
    font: italic 700 72px Roboto, sans-serif;
  }

  @media (max-width: 991px) {
    .section-title {
      max-width: 100%;
      font-size: 40px;
    }
  }

  .section-subtitle {
    color: #fff;
    text-align: center;
    margin-top: 27px;
    width: 849px;
    font: 600 42px Open Sans, sans-serif;
  }

  @media (max-width: 991px) {
    .section-subtitle {
      max-width: 100%;
    }
  }


  .category-container {
    align-self: start;
    display: flex;
    width: 100%;
    max-width: 2492px;
    flex-direction: column;
    margin: 143px 0 -64px;
  }

  @media (max-width: 991px) {
    .category-container {
      max-width: 100%;
      margin: 40px 0 10px;
    }
  }

  .category-title {
    color: #454545;
    text-align: center;
    align-self: start;
    font: 600 42px Open Sans, sans-serif;
  }

  .article-grid {
    display: flex;
    margin-top: 50px;
    width: 100%;
    max-width: 2324px;
    gap: 40px 100px;
    font-family: Open Sans, sans-serif;
    flex-wrap: wrap;
  }

  @media (max-width: 991px) {
    .article-grid {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .article-card {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  @media (max-width: 991px) {
    .article-card {
      max-width: 100%;
    }
  }

  .article-image {
    aspect-ratio: 1.64;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  @media (max-width: 991px) {
    .article-image {
      max-width: 100%;
    }
  }

  .article-title {
    color: #fed233;
    font-size: 32px;
    font-weight: 400;
    margin-top: 30px;
  }

  @media (max-width: 991px) {
    .article-title {
      max-width: 100%;
    }
  }

  .article-excerpt {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin-top: 13px;
  }

  @media (max-width: 991px) {
    .article-excerpt {
      max-width: 100%;
    }
  }

  .article-meta {
    display: flex;
    margin-top: 30px;
    width: 100%;
    gap: 40px 100px;
    flex-wrap: wrap;
  }

  @media (max-width: 991px) {
    .article-meta {
      max-width: 100%;
    }
  }

  .meta-container {
    flex-grow: 1;
    flex-basis: auto;
  }

  @media (max-width: 991px) {
    .meta-container {
      max-width: 100%;
    }
  }

  .meta-row {
    gap: 12px;
    display: flex;
  }

  @media (max-width: 991px) {
    .meta-row {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .meta-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .meta-column {
      width: 100%;
    }
  }

  .read-more-button {
    margin-top:02px;
    font-size:10px;
    background-color: #fed233;
    flex-grow: 1;
    overflow: hidden;
    color: #fff;
    width: 70%;
    padding: 8px 20px;
    margin-right:20px;
  }

  @media (max-width: 991px) {
    .read-more-button {
      margin-top: 40px;
      padding: 0 20px;
    }
  }

  .meta-info {
    font-size:20px;
    flex-grow: 1;
    flex-direction: column;
    color: #fed233;
  }

  @media (max-width: 991px) {
    .meta-info {
      margin-top: 40px;
    }
  }

  .author-name {
    align-self: start;
    margin-top: 13px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }




  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .search-bar { background-color: #f1f1f1; display: flex; border-radius: 20px; margin-top: 85px; width: 1000px; max-width: 100%; padding-left: 33px; gap: 20px; color: #fff; text-align: center; flex-wrap: wrap; justify-content: space-between; font: 400 32px Open Sans, sans-serif; }
  .search-placeholder { margin: auto 0;  border-radius: 10px;  border-color:darkgray}
  .search-button {      border-radius: 20px ; background-color: #fed233; display: flex; width: 97px; height: 88px; }
</style>
<app-header></app-header>

<section class="blogs-section">
  <h1 class="section-title">Blogs <span style="color: #fed233;">&</span> Articles</h1>
  <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam</p>

  <form class="search-bar" role="search">
    <label for="search-input" class="visually-hidden">Search recipes</label>
    <input type="search" id="search-input" class="search-placeholder" placeholder="Search here..." aria-label="Search recipes" />
    <button type="submit" class="search-button" aria-label="Submit search"></button>
  </form>

  <div class="category-container">
    <h2 class="category-title">Category 1</h2>

    <div class="article-grid">
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9e57812225034f2998311b477eba2f1d98e3614bb8f99738f6c670cc37226a0?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9e57812225034f2998311b477eba2f1d98e3614bb8f99738f6c670cc37226a0?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>

      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9e57812225034f2998311b477eba2f1d98e3614bb8f99738f6c670cc37226a0?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <div class="article-meta">
        <div class="meta-container">
          <div class="meta-row">
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="article-grid">
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e237c76353fa71e2fe2294cd63d042450dcfcf638d8bb9e3f8841d4ce84706f?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">>
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e237c76353fa71e2fe2294cd63d042450dcfcf638d8bb9e3f8841d4ce84706f?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">>
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>

      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e237c76353fa71e2fe2294cd63d042450dcfcf638d8bb9e3f8841d4ce84706f?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">>
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <div class="article-meta">
        <div class="meta-container">
          <div class="meta-row">
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="article-grid">
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0de9b15c3e571acfc7e0c0fc23241cb56d2b5ebbe629200d8ece987a114d140d?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0de9b15c3e571acfc7e0c0fc23241cb56d2b5ebbe629200d8ece987a114d140d?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>

      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0de9b15c3e571acfc7e0c0fc23241cb56d2b5ebbe629200d8ece987a114d140d?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <div class="article-meta">
        <div class="meta-container">
          <div class="meta-row">
            <div class="meta-column">
              <a  (click)="onblogs1()" ><button    (click)="onblogs1()" class="read-more-button">Read Article</button></a>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="article-grid">
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dfb97ac8128f1df1ab8af7d1eb1102147b53954d8c45134d783613fbb5943f45?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">

        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dfb97ac8128f1df1ab8af7d1eb1102147b53954d8c45134d783613fbb5943f45?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>

      <article class="article-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dfb97ac8128f1df1ab8af7d1eb1102147b53954d8c45134d783613fbb5943f45?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Article image" class="article-image">
        <h3 class="article-title">Name of the article will be here Name of the article will be here</h3>
        <p class="article-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </article>
      <div class="article-meta">
        <div class="meta-container">
          <div class="meta-row">
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
            <div class="meta-column">
              <button (click)="onblogs1()" class="read-more-button">Read Article</button>
            </div>
            <div class="meta-column">
              <div class="meta-info">
                <time datetime="2024-01-24">24 January 2024</time>
                <span class="author-name">-Name here</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>

