
<app-header></app-header>

<main>

  <section class="workout-section">
    <div class="hero-container">
      <h1 class="hero-title">
        Get Your Perfect Workout <br />
        With The <span style="color: #fed233">Perfect</span> <span style="color: #fed233">Trainers</span>
      </h1>
      <div class="trainers-grid">
        <div class="trainers-row">
          <div class="trainer-column">
            <div class="trainer-images">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ac9adee125e76f334ac744b15fe2e8eb1a09e500d8e9e003c2d5b9952d35068?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Trainer Icon" class="trainer-icon" />
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f94527b54cd3227d183c21714ad53a3ffb24f806a8c7ac26181087300985e204?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Trainer Photo" class="trainer-photo" />
            </div>
          </div>
          <div class="main-trainer-column">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7b53e7a758ea10db6cb5a8e3673fb8370625c6920398b6f1875e056228b7f428?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Main Trainer Photo" class="main-trainer-photo" />
          </div>
          <div class="trainer-column">
            <div class="trainer-images">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/855119a9d1139344466fafa51885fdcd4598aa42649ee112ccbdfc6c475657da?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Trainer Icon" class="trainer-icon" />
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/19505f22d4174239f7b6640be2c095aefd54f479cac2c4a1a24d54c303133f41?placeholderIfAbsent=true&apiKey=fcaa7293172548b6a2e1a132d616c7c2" alt="Trainer Photo" class="trainer-photo" />
            </div>
          </div>
        </div>
      </div>


      <section class="fitness-section">
        <div class="content-wrapper">
          <div class="main-content">

            <div class="info-section">
              <div class="info-container">
                <div class="info-column">
                  <div class="info-content">
                    <h2 class="info-title">
                      <span style="color: #fed233">What Is</span>
                      <span style="color: #fed233"> Evolve Your Lifestyle </span>
                    </h2>
                    <p class="info-description">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam tortor sollicitudin egestas convallis.
                    </p>
                    <div class="info-details">
                      <div class="details-container">
                        <div class="details-column">
                          <div class="details-content">
                            <p class="details-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                            <p class="details-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. Lorem ipsum dolor sit amet,
                            </p>
                            <button class="contact-button">Contact Us</button>
                          </div>
                        </div>
                        <div class="image-column">
                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bfc5bdf810fff727a4710effc7776d9071669a81d1ea3b4a3713e7e020ff622?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" alt="Large Image" class="large-imageee" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accent-column">
                  <div class="accent-block"></div>
                </div>
              </div>
            </div>
            <h2 class="section-title">
              Why People Should Take <span style="color: #fed233">Health Advice</span>
            </h2>
            <p class="section-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis.
            </p>
          </div>
          <div class="content-block">
            <div class="block-container">
              <div class="left-block">
                <div class="yellow-block">                          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8bfc5bdf810fff727a4710effc7776d9071669a81d1ea3b4a3713e7e020ff622?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" alt="Large Image" class="large-image" />
                </div>
              </div>
              <div class="right-block">
                <div class="text-content">
                  <p class="main-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
                    Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
                    Sed quam sagittis aliquam, tortor sollicitudin egestas convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                  <button class="cta-button">Contact Us</button>
                </div>
              </div>
            </div>
          </div>
          <div class="features-section">


                <section class="why-choose-us-container">
                  <div class="content-row">
                    <div class="content-wrapper">
                      <header class="header-container">
                        <h2 class="section-title">Why <span>Choose Us</span></h2>
                        <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </header>
                      <div class="feature-container">
                        <div class="why-choose-us-container">
                          <div class="icon-column">
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7ac62292d491536bff9056e4de8cc2789374b81701c00779346f08255b876f9a?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="feature-icon" alt="10+ Years Experience Icon" />
                          </div>
                          <div class="text-column">
                            <div class="feature-text-wrapper">
                              <h3 class="feature-title">10 + Experience</h3>
                              <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="feature-container">
                        <div class="why-choose-us-container">
                          <div class="icon-column">
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b22880927bd49ae51967fc980d22d2be7576ac1f834f5d0689807b87ae07b742?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="feature-icon" alt="Best Plan Icon" />
                          </div>
                          <div class="text-column">
                            <div class="feature-text-wrapper">
                              <h3 class="feature-title">Best Plan</h3>
                              <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="feature-container">
                        <div class="why-choose-us-container">
                          <div class="icon-column">
                            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3b344dbda68398f0d8e7d60a0c138958e3b10029ba1edcb8e874a5855f10cc15?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="feature-icon" alt="Guarantee Results Icon" />
                          </div>
                          <div class="text-column">
                            <div class="feature-text-wrapper">
                              <h3 class="feature-title">Guarantee Results</h3>
                              <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="image-column">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6c13f2c5dcacbca272c126722ae4401912b93fbf58f3dfe52347cd0ed31bdeef?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="main-image" alt="Why Choose Us Illustration" />
                      </div>
                    </div>

                  </div>

                </section>


            <h2 class="categories-title">
              Categories <span style="color: #fed233">To Which We Provide</span>
            </h2>
            <p class="categories-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis.
            </p>
          </div>
          <div class="categories-content">
            <div class="categories-row">
              <div class="categories-left">
                <div class="categories-wrapper">
                  <div class="yellow-container">
                    <div class="yellow-content">
                      <div class="yellow-text">
                        <p class="yellow-description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
                          Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. <br />
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
                          Sed quam sagittis aliquam, tortor sollicitudin egestas convallis.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                      </div>
                      <div class="yellow-images">
                        <div class="image-stack">
                          <div class="image-1"></div>
                          <div class="image-2"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h2 class="section-heading">
                    <span style="color: #fed233">What will</span> We Provide
                  </h2>
                </div>
              </div>
              <div class="categories-right">
                <div class="right-content">
                  <div class="image-grid">
                    <div class="grid-row">
                      <div class="grid-item">
                        <div class="grid-image"></div>
                      </div>
                      <div class="grid-item-2">
                        <div class="grid-image-2"></div>
                      </div>
                    </div>
                    <div class="grid-row-2">
                      <div class="grid-container-2">
                        <div class="grid-item-3">
                          <div class="grid-image-3"></div>
                        </div>
                        <div class="grid-item-4">
                          <div class="grid-image-4"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services-section">
            <div class="services-container">
              <div class="services-row">
                <div class="service-item">
                  <img src="https://elements-resized.envatousercontent.com/elements-video-cover-images/files/5738d069-0734-40d8-b58c-5e0a4d909619/inline_image_preview.jpg?w=500&cf_fit=cover&q=85&format=auto&s=dc4786b14b0f4888d2a9d618f7d53f06f9f4b1415666ed4b2b30aee14dce4183" alt="Service 1" class="service-image" />
                </div>
                <div class="service-item-2">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1db9695f1fb46ea23c2ec325aa7ac61a2163549f2b18233ea3b4fc818aaac4f7?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" alt="Service 2" class="service-image-2" />
                </div>
              </div>
            </div>
            <div class="service-titles">
              <h3>Personalized Workout Plan</h3>
              <h3>Expert Guidance</h3>
            </div>
            <div class="service-description">
              <div class="description-row">
                <div class="description-column">
                  <p class="description-text">
                    You will be given a personalized workout plan according to your goal that suits you. If you don't have time to go to the gym, no problem at all. Our program is designed in such a way that you can follow your workout plan even at your home.
                  </p>
                </div>
                <div class="description-column-2">
                  <p class="description-text-2">
                    You will be given personalized experts guidance. Our experts will consult you, find out your problems and weaknesses and provide you a solution for it. They will help you in changing your bad habits and make you adopt a healthy lifestyle.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-row-2">
              <div class="services-container-2">
                <div class="service-item-3">
                  <div class="service-content">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/25eecb398c4a5c64b048df2f889991d1e0ca4f51bc9e2382b297ad667a24da96?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" alt="Service 3" class="service-image-3" />
                    <h3 class="service-title">Personalized Nutrition Plan</h3>
                  </div>
                </div>
                <div class="service-item-4">
                  <div class="service-content-2">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/71c0cc985379a646c946ed76254e2be7b742088353e87c8ee774eb5aa3777aff?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" alt="Service 4" class="service-image-4" />
                    <h3 class="service-title-2">Results</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="description-row-2">
              <div class="description-container">
                <div class="description-column-3">
                  <p class="description-text-3">
                    No temporary diets can reduce your body fat. You will be given a personalized nutrition plan that suits your needs and choices. We will guide you, what exactly you are supposed to eat everyday. You need not to worry about the calories. Once you enrolled in this program, it will be our responsibility to count your calories not yours
                  </p>
                </div>
                <div class="description-column-4">
                  <p class="description-text-4">
                    At last the only thing that matters is what you do, CONSISTENTLY!! Only action can create change. The only thing that we want from your side is…. Consistency. That's it. Rest, we will take care of. We will make you fitter and by the end of 90 days, you yourself will see the good changes.
                  </p>
                </div>
              </div>
            </div>
          </div>


          <section class="section-container">
            <header class="header-container">
              <h2 class="section-title">How It Actually <span style="color: #fed233;">Works ?</span></h2>
              <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis.</p>
            </header>

            <div class="content-container">
              <div class="two-column-layout">
                <div class="left-column">
                  <div class="steps-container">
                    <div class="step-item">
                      <div class="number-circle">1</div>
                      <div class="step-content">
                        <h3 class="step-title">Expert Guidance</h3>
                        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. Lorem ipsum dolor sit amet,</p>
                      </div>
                    </div>
                    <div class="step-item">
                      <div class="number-circle">2</div>
                      <div class="step-content">
                        <h3 class="step-title">Personalized Nutrition Plan</h3>
                        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. Lorem ipsum dolor sit amet,</p>
                      </div>
                    </div>
                    <div class="step-item">
                      <div class="number-circle">3</div>
                      <div class="step-content">
                        <h3 class="step-title">Personalized Workout Plan</h3>
                        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. Lorem ipsum dolor sit amet,</p>
                      </div>
                    </div>
                    <div class="step-item">
                      <div class="number-circle">4</div>
                      <div class="step-content">
                        <h3 class="step-title">Daily Tasks Tracking</h3>
                        <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam sagittis aliquam, tortor sollicitudin egestas convallis. Lorem ipsum dolor sit amet,</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right-column">
                  <div class="contact-container">
                    <div class="contact-content">
                      <h2 class="contact-title"><span style="color: #445544;">Get In Touch with</span> Evlove Your Life Style <span style="color: #fed233;">Today</span></h2>
                      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/96f8feb5c3757ca42ac06bbcb3a0ae403f47a8803c9eb2e0881806e7689df99a?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" alt="Evolve Your Lifestyle" class="contact-image" />
                      <button class="contact-button">Contact Us</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="customer-chats">
            <div class="customer-chats-content">
              <h2 class="customer-chats-title">
                Take A Look At <span style="color: #ffffff;">Our Chats With Customers</span>
              </h2>
              <div class="chat-images-container">
                <div class="chat-image-wrapper">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2d78e14009b9fb0a7ce9b0417951e243e3abfc8a3047779332a06115e40a6e6?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="chat-image" alt="Customer chat example 1" />
                </div>
                <div class="chat-image-wrapper">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2d78e14009b9fb0a7ce9b0417951e243e3abfc8a3047779332a06115e40a6e6?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="chat-image" alt="Customer chat example 2" />
                </div>
                <div class="chat-image-wrapper">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2d78e14009b9fb0a7ce9b0417951e243e3abfc8a3047779332a06115e40a6e6?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="chat-image" alt="Customer chat example 3" />
                </div>
                <div class="chat-image-wrapper">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2d78e14009b9fb0a7ce9b0417951e243e3abfc8a3047779332a06115e40a6e6?placeholderIfAbsent=true&apiKey=87958a50c5c8459d9a6c648e91c33c3f" class="chat-image" alt="Additional customer chat visual" />
                </div>

              </div>
            </div>

          </section>







        </div>
      </section>
    </div>

  <app-footer></app-footer>

</section>
</main>














