<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Post New Workout</mat-card-title>
        <mat-card-content>
          <form  [formGroup]="workoutForm" (ngSubmit)="submitForm()" class="custom-form">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter the calories you burned</mat-label>
              <input matInput type="text" formControlName="caloriesBurned" placeholder="Enter the calories you burned">
              <mat-error *ngIf="workoutForm.get('caloriesBurned')?.invalid">Please input the calories!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter duration</mat-label>
              <input matInput type="number" formControlName="duration" placeholder="Enter duration">
              <mat-error *ngIf="workoutForm.get('duration')?.invalid">Please input the duration!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select date</mat-label>
              <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
              <mat-error *ngIf="workoutForm.get('date')?.invalid">Please input the date!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select the type</mat-label>
              <mat-select formControlName="type" placeholder="Select the type">
                <mat-option *ngFor="let type of listOfType" [value]="type">{{ type }}</mat-option>
              </mat-select>
              <mat-error *ngIf="workoutForm.get('type')?.invalid">Please input the type!</mat-error>
            </mat-form-field>

            <button mat-raised-button color="warning" class="w-100" [disabled]="workoutForm.invalid">
              Post Workout
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-card-title>Past Workout</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let workout of workouts">
              <span mat-line>Calories Burned: <strong>{{workout.caloriesBurned}}</strong></span>
              <span mat-line>Duration: <strong>{{workout.duration}}</strong></span>
              <span mat-line>Date: <strong>{{workout.date | date}}</strong></span>
              <span mat-line>Type: <strong>{{workout.type}}</strong></span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
