<div class="container">
  <h1>Activity</h1>
  <div class="content-wrapper">
    <div class="new-activity">
      <h2>Post New Activity</h2>
      <form [formGroup]="activityForm" (ngSubmit)="submitForm()">
        <mat-form-field appearance="outline">
          <input matInput formControlName="caloriesBurned" placeholder="Enter the calories you burned" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput formControlName="distance" placeholder="Enter distance" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput formControlName="steps" placeholder="Enter steps" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Select date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>




        <button mat-raised-button color="primary" type="submit" [disabled]="activityForm.invalid">
          Post Activity
        </button>
      </form>
    </div>

    <div class="past-activities">
      <h2>Past Activities</h2>
      <div class="activity-list">
        <div *ngFor="let activity of activities" class="activity-item">
          <span>Calories Burned: {{ activity?.caloriesBurned }} - Distance: {{ activity.distance }} KM - Steps: {{ activity.steps }} - Date: {{ activity.date | date:'MMM dd, yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
