<nz-layout class="layout">
  <nz-sider>
    <div class="logo" >
      <img  alt="avatar" class="avatar" src="https://www.hiclipart.com/free-transparent-background-png-clipart-hspng/download">

    <div class="user-info" >
      <strong >chaimaa</strong>
    </div>
    </div>

    <ul nz-menu nzTheme="dark"nzMode="inline">
      <li nz-menu-item routerLink="/dashboard">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>

      <li nz-menu-item routerLink="/workout">
        <span nz-icon nzType="split-cells"></span>
        <span>workout</span>
      </li>

      <li nz-menu-item routerLink="/activity">
        <span nz-icon nzType="control"></span>
        <span>activity</span>
      </li>

      <li nz-menu-item routerLink="/goal">
        <span nz-icon nzType="fund"></span>
        <span>goal</span>
      </li>
    </ul>

  </nz-sider>

  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>
