<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Calories Burned
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.totalCaloriesBurned }} cal</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Distance Covered
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.distance | number: '1.1-1' }} km</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Steps Taken
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.steps }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Time Spent
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.duration }} min</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Achieved Goals
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.achievedGoals }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Not Achieved Goals
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.notAchievedGoals }}</p>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="canvas-container d-flex flex-lg-row flex-md-column flex-sm-column gap-2">

  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card" style="background-color: aliceblue; padding: 16px;">
      <div class="card-title">Recent Workouts</div>
      <div class="card-content">
        <canvas #workoutLineChart></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card"  style="background-color: aliceblue; padding: 16px;">
      <div class="card-title">Recent Activities</div>
      <div class="card-content">
        <canvas #activityLineChart></canvas>
      </div>
    </div>
  </div>
</div>

