<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Calories Burned
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.totalCaloriesBurned }} cal</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Distance Covered
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.distance | number: '1.1-1' }} km</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Steps Taken
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.steps }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Total Time Spent
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.duration }} min</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Achieved Goals
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.achievedGoals }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          Not Achieved Goals
        </div>
        <div class="card-body" style="background-color: aliceblue;">
          <p>{{ statsData.notAchievedGoals }}</p>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="mat-grid" style="margin-top: 1px;">
  <mat-grid-list cols="12" gutterSize="16px">
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="hidden-xs"></mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" class="hidden-sm"></mat-grid-tile>
    <mat-grid-tile [colspan]="6" [rowspan]="1" class="hidden-md"></mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="1" class="hidden-lg"></mat-grid-tile>
    <mat-grid-tile [colspan]="10" [rowspan]="1" class="hidden-xl"></mat-grid-tile>

    <mat-grid-tile [colspan]="8" [rowspan]="1" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
      <mat-card style="background-color: aliceblue;">
        <mat-card-title>Recent Workouts</mat-card-title>
        <mat-card-content>
          <canvas #workoutLineChart></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1" class="hidden-xs hidden-sm hidden-md hidden-lg hidden-xl">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="8" [rowspan]="1" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-2">
      <mat-card style="background-color: aliceblue;">
        <mat-card-title>Recent Activities</mat-card-title>
        <mat-card-content>
          <canvas #activityLineChart></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

